{% from "le-resources/utils.jinja" import iam_group_with_policies %}
#
# Groups
#
{{
    iam_group_with_policies(
        accounts=accounts,
        account_name="shared",
        group_name="auditors",
        default_policies=[
            "\"arn:aws:iam::aws:policy/SecurityAudit\"",
            "\"arn:aws:iam::aws:policy/job-function/ViewOnlyAccess\""
        ]
    )
}}
