{%- set acc = namespace(users=[]) -%}
{%- for groupusers in accounts.management.groups | map(attribute="users") -%}
{%- set acc.users = acc.users + groupusers -%}
{%- endfor -%}
locals {
  tags = {
    Terraform   = "true"
    Environment = var.environment
  }

  users = [
    "{{ acc.users | unique | join("\",\n\"") | indent(width=4) }}"
  ]
}
